{% extends 'base.html.twig' %}

{% block title %}Inscription Usager{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1>Créer un nouveau compte</h1>

        {{ form_start(form) }}
        {# Affiche tous les champs email passwor nom prenom #}
        {{ form_widget(form) }}

        <button class="btn btn-success mt-3">
            <i class="fas fa-check"></i> Valider l'inscription
        </button>
        {{ form_end(form) }}

        <hr>
        <a href="{{ path('app_usager_index') }}" class="btn btn-secondary">
            Retour à l'accueil
        </a>
    </div>
{% endblock %}
